:root {
  --background-color: #fff;
  --text-color: #333;
  --transition-duration: 0.5s;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

body.dark-mode {
  background-color: #333;
  color: #fff;
  background-image: url("/public/miscImages/bgdark.png");
}

.dark-mode .header h1 {
  background-color: #faefd900;
  color: #edc84b;
}

.dark-mode .menu-section {
  border: 2px solid #f8da77;
  background-color: #333;
  color: #fff;
}

.dark-mode .menu h2 {
  background-color: #333;
}

.dark-mode .menu h1,
.dark-mode .menu h2 {
  border-top: 2px solid #f8da77;
  border-bottom: 2px solid #f8da77;
}

.dark-mode .menu > p {
  color: #ccc;
}

.dark-mode .pizza,
.dark-mode .appetizer,
.dark-mode .dessert {
  background-color: #555;
  color: #fff;
}

.dark-mode .pizza.sold-out span,
.dark-mode .appetizer.sold-out span,
.dark-mode .dessert.sold-out span {
  color: #ff5757;
}

.dark-mode .pizza.sold-out,
.dark-mode .appetizer.sold-out,
.dark-mode .dessert.sold-out {
  color: #888;
}
