/* *************** */

.header {
  align-self: stretch;
}

.header h1 {
  background-color: rgb(250, 240, 219, 0.5);
  color: #ffa600;
  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 400;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
  border-radius: 20%;
}

.header h1::before,
.header h1::after {
  display: block;
  content: "";
  height: 3px;
  width: 4rem;
  background-color: #ffa600;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
}
